natives
config.json
manifest.json
config.bak.json
fancymenu_data
local
logs
patchouli_data.json
resourcepacks/Infernal Resources.zip
fancymenu_setups
saves
usernamecache.json
usercache.json
backups
crash-reports
